<div class="header">
    <div class="header__logo">
        <h2>Inbox</h2>
    </div>
    <div class="header__navigation-items">
        <div class="navigation-items__list">
            <ul class="item-list">
                <li class="item-list__share"><i class="fa fa-address-book"></i><a href="#">Share</a></li>
                <li class="item-list__sort"><i class="fa fa-sort-alpha-down"></i><a href="#">Sort</a></li>
                <li class="item-list__sort"><i class="fa fa-ellipsis-h"></i><a href="#">More</a></li>
            </ul>
        </div>
    </div>
</div>
