<div class="sidepanel-categories">

  <div class="sidepanel-header">
    <h2>profile header</h2>
  </div>
  <div class="sidepanel-content">
    <div class="sidepanel-items">
      <h2>sidenav content</h2>
      <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe veritatis, cupiditate aperiam harum
        laboriosam soluta magni quaerat ducimus eius quos suscipit eos nihil recusandae error asperiores ut aliquid
        ipsum atque? Repellendus, totam laboriosam. Perferendis, voluptatibus consectetur voluptatum dignissimos
        recusandae vitae doloremque labore tempora illo exercitationem blanditiis, sequi voluptate? Quasi ratione eius
        ex fuga, tenetur tempore voluptate perspiciatis, illum officia qui cumque quo magnam. Tempore magni ducimus
        distinctio dolorem accusamus voluptates id architecto, dolores ratione aliquam ipsam hic tenetur earum, totam,
        enim excepturi magnam non ullam! Ad aliquid perferendis deleniti asperiores ea natus, ullam quas eius dicta
        eveniet quaerat, praesentium id?
      </h2>
    </div>
  </div>
  <div class="sidepanel-create-new">
    <a href="#" type="button">
      <i class="fa fa-plus"></i>
      <p class="create-list">
        Create list
      </p>
    </a>
  </div>
</div>