<div class="sidepanel-categories">

  <div class="sidepanel-header">
    <div class="profile">

      <div class="img-dropdown" (click)="profileDrd()">
        <div class="img-profile">
        </div>
        <div class="profile-caret">
          <p class="profile-name">Profile name</p>
          <i class="fas fa-caret-down"></i>
        </div>
      </div>
      <div class="notification-msg">
        <div class="notification">
          <i class="fa fa-bell"></i>
        </div>

        <div class="msg">
          <i class="far fa-comment"></i>
        </div>
      </div>

      <div class="profile-drd">
        <ul class="profile-drd__list">
          <p class="list-paragh">Last synced X minutes ago</p>
          <li>Sync Now</li>
          <li class="list-hr">
            <hr>
          </li>
          <li>Account Settings</li>
          <li>Change Background</li>
          <li>Restore deleted lists</li>
          <li>Install the Browser Extension</li>
          <li>Love Wunderlist?</li>
          <li>Tell Your Friends...</li>
          <li>Wunderlist Website</li>
          <li class="list-hr">
            <hr>
          </li>
          <p class="list-paragh">profile email</p>
          <li>Sign Out</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="sidepanel-content">
    <div class="sidepanel-items">
      <ul>

        <li class="list-item" (click)="showAll()">
          <div class="icon-and-name">
            <i class="fa fa-address-card"></i>
            <p class="category-item-name">Inbox</p>
          </div>
          <div class="count">{{ (store.showInbox() | async).length }}</div>
        </li>

        <li class="list-item" (click)="showStarred()">
          <div class="icon-and-name">
            <i class="far fa-star"></i>
            <p class="category-item-name">Starred</p>
          </div>
          <div class="count">{{ (store.showStarred() | async).length }}</div>
        </li>

        <li class="list-item" (click)="showCompleted()">
          <div class="icon-and-name">
            <i class="fa fa-check"></i>
            <p class="category-item-name">Completed</p>
          </div>
          <div class="count">{{ (store.showCompleted() | async).length }}</div>
        </li>

        <app-list-category-item *ngFor="let category of categories$ | async" [categoryEl]="category" (click)="categorySelectedFunc(category)"></app-list-category-item>

      </ul>
    </div>
  </div>
  <div class="sidepanel-create-new">
    <a class="create-new-link" type="button" (click)="createCategory()">
      <i class="fa fa-plus"></i>
      <p class="create-new-text">
        Create list
      </p>
    </a>
  </div>
</div>
<router-outlet name="listsoutlet"></router-outlet>
