
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sidepanel-categories {

    min-height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    .sidepanel-header {
        height: 5rem;
        // background: rgb(142, 206, 142);
        display: flex;
        align-items: center;
        width: 100%;
        // background: yellow;

        .profile {

            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // background: red;

            .img-dropdown {
                display: flex;
                padding-left:.5rem;
                align-items: center;
                padding-right:2.5rem;

                &:hover {
                    background: lighten($color: #F7F7F7, $amount: 3);
                    cursor: pointer;
                }
              

                // background: green;
                .img {
                    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Alesso_profile.png/467px-Alesso_profile.png);
                    height: 4rem;
                    width: 4rem;
                    border-radius: 50%;
                    background-position: top;
                    background-size: cover;
                }

                .profile-drd {
                    font-size:1.4rem;
                    padding-left: .5rem;

                    i {
                        color:rgb(187, 187, 187);
                    }
                }
            }

            .notification-msg {
                display: flex;

                color:rgb(187, 187, 187);
                padding-right: 1rem;

                .notification {
                    padding-right: 1.8rem;
                    &:hover {
                        cursor: pointer;
                    }
                }

                .msg {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

    }

    .sidepanel-content {

        position:absolute;
        top: 10rem;
        left:0px;
        right:0px;
        bottom:3.5rem;
        overflow-y:scroll;
        width: 25rem;

        .sidepanel-items {

            ul {
                padding: 0;
                margin: 0;
                list-style: none;

                .list-item {

                    height: 4rem;
                    padding: 1rem 1.2rem;

                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &:hover {
                        background-color: #E0EEFA;
                        cursor: pointer;
                    }

                    .icon-and-name {
                        display: flex;

                        p {
                            padding-left:1rem;
                        }

                        i {
                            color: rgb(110, 202, 255);
                        }
                    }

                    .count {
                        font-size:1.2rem;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                }

            }
        }
    }

    .sidepanel-create-new {
       
        height: 3.5rem;
        padding-left:1.2rem;
        display: flex;
        align-items: center;
        border-top: 1px solid #DEDEDE;

        a {
            text-decoration: none;
            color: rgb(60, 129, 233) !important;

            &:visited {
                color: initial;
            }

            &:hover {
                color: rgb(11, 97, 226) !important;
            }

            p {
                margin: 0;
                padding: 0;
                display: inline-block;
                padding-left:1.2rem;
            }
        }
    }

}

::-webkit-scrollbar {
    width: .6rem;
    /* background: red; */
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #C6C6C6;
    // box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

::-webkit-scrollbar-track {
    border-radius: .3rem;
    // box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
