<div class="sidepanel-categories">

  <div class="sidepanel-header">
    <div class="profile">
      <div class="img-dropdown">
        <div class="img">
        </div>
        <div class="profile-drd">
          Profile name
          <i class="fas fa-caret-down"></i>
        </div>
      </div>
      <div class="notification-msg">
        <div class="notification">
          <i class="fa fa-bell"></i>
        </div>

        <div class="msg">
          <i class="far fa-comment"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="sidepanel-content">
    <div class="sidepanel-items">
      <ul>

        <li class="list-item">
            <div class="icon-and-name">
              <i class="fa fa-address-card"></i>
              <p>Inbox</p>
            </div>
            <div class="count">12</div>
        </li>

        <li class="list-item">
            <div class="icon-and-name">
              <i class="far fa-star"></i>
              <p>Starred</p>
            </div>
            <div class="count">12</div>
        </li>

        <li class="list-item">
            <div class="icon-and-name">
              <i class="fa fa-check"></i>
              <p>Completed</p>
            </div>
            <div class="count">12</div>
        </li>

        <app-list-category-item></app-list-category-item>
        <app-list-category-item></app-list-category-item>
        <app-list-category-item></app-list-category-item>
        <app-list-category-item></app-list-category-item>
        <app-list-category-item></app-list-category-item>
        <app-list-category-item></app-list-category-item>
        <app-list-category-item></app-list-category-item>
        <app-list-category-item></app-list-category-item>
        <app-list-category-item></app-list-category-item>
        <app-list-category-item></app-list-category-item>
        <app-list-category-item></app-list-category-item>
        <app-list-category-item></app-list-category-item>
        <app-list-category-item></app-list-category-item>
        <app-list-category-item></app-list-category-item>
        <app-list-category-item></app-list-category-item>
        <app-list-category-item></app-list-category-item>
        <app-list-category-item></app-list-category-item>
        <app-list-category-item></app-list-category-item>
        <app-list-category-item></app-list-category-item>
        <app-list-category-item></app-list-category-item>
        <app-list-category-item></app-list-category-item>
        <app-list-category-item></app-list-category-item>
        <app-list-category-item></app-list-category-item>

      </ul>
    </div>
  </div>
  <div class="sidepanel-create-new">
    <a href="#" type="button">
      <i class="fa fa-plus"></i>
      <p class="create-list">
        Create list
      </p>
    </a>
  </div>
</div>
