
.app-container {

    display: grid;
    grid-template-areas:
    'sidepanel-search header'
    'sidepanel-content maincontent';

    grid-template-columns: 25rem 1fr;
    grid-template-rows: 5rem 1fr;

    &.close {
        grid-template-columns: 4rem 1fr;
    }
}

app-sidepanel-search {
    background: #fff;
    grid-area: sidepanel-search;
}

app-sidepanel-content {
    grid-area: sidepanel-content;
    background: #F7F7F7;
}

app-header {
    grid-area: header;
}

app-main-content {
    position:absolute;
    top: 5rem;
    left:25rem;
    right:0px;
    bottom:0px;
    overflow-y:scroll;
    width: calc(100% - 25rem);

    grid-area: maincontent;

    background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e3/Seattle_Kerry_Park_Skyline.jpg);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: calc(100vh - 5rem);

    &.close {
        left:4rem;
        width: calc(100% - 4rem);
    }
}
