// .headertest
// {
//     height:50px;
// }
// .contenttest
// {
//     position:absolute;
//     top: 50px;
//     left:0px;
//     right:0px;
//     bottom:0px;
//     overflow-y:scroll;        
// }

.app-container {

    display: grid;
    grid-template-areas:
    'sidepanel-search header'
    'sidepanel-content maincontent';

    grid-template-columns: 25rem 1fr;
    grid-template-rows: 5rem 1fr;
}

app-sidepanel-search {
    background: #fff;
    grid-area: sidepanel-search;
}

app-sidepanel-content {
    grid-area: sidepanel-content;
    background: #F7F7F7;

    // position:absolute;
    // top: 5rem;
    // left:0px;
    // right:0px;
    // bottom:0px;
    // overflow-y:scroll;
    // width: 25rem; 
}

app-header {
    grid-area: header;

    // height: 5rem;
}

app-main-content {
    position:absolute;
    top: 5rem;
    left:25rem;
    right:0px;
    bottom:0px;
    overflow-y:scroll;
    width: calc(100% - 25rem);

    grid-area: maincontent;

    background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e3/Seattle_Kerry_Park_Skyline.jpg);
    
    // position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: calc(100vh - 5rem);
}


// .main-content {

//         // position:absolute;
//         // top: 50px;
//         // left:0px;
//         // right:0px;
//         // bottom:0px;
//         // overflow-y:scroll;      

//     grid-area: maincontent;

//     position: absolute;

//     background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e3/Seattle_Kerry_Park_Skyline.jpg);
//     position: relative;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-attachment: fixed;
//     min-height: calc(100vh - 5rem);

//     #overlay-main-content {
//         position: fixed;
//         display: initial;
//         width: 100%;
//         height: 100%;
//         top: 5rem;
//         left: 24rem;
//         background-color: rgba(255, 102, 0, 0.3);
//         // z-index: 2;
//     }
// }

