<div class="main-content">
  <div class="list">
    <ul>
      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>
      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>
      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>
      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>
      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>
      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>
      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>
      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>
      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>
      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>

      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>

      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>

      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>

      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>

      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>
    </ul>
  </div>

</div>
