<div class="main-content">
  <div class="main-content__input-container">
    <div class="input" (click)="test()">
      <input type="text" placeholder="Add a to-do...">
    </div>
  </div>

  <div class="list">
    <ul>
      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>
      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>
      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>
      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>
      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>
      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>
      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>
      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>
      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>
      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>

      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>

      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>

      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>

      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>

      <li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam asperiores in facere sapiente.
          Temporibus, ipsum. Blanditiis tempore maiores illum.</p>
      </li>
    </ul>
  </div>

</div>