<div class="main-content">
  <div class="main-content__input-container">
    <div class="input" (click)="test()">
      <input type="text" placeholder="Add a to-do...">
    </div>
  </div>

  <div class="list">
    <ul>
      <app-todo-list-item></app-todo-list-item>
      <app-todo-list-item></app-todo-list-item>
      <app-todo-list-item></app-todo-list-item>
      <app-todo-list-item></app-todo-list-item>
      <app-todo-list-item></app-todo-list-item>
      <app-todo-list-item></app-todo-list-item>
      <app-todo-list-item></app-todo-list-item>
      <app-todo-list-item></app-todo-list-item>
      <app-todo-list-item></app-todo-list-item>
      <app-todo-list-item></app-todo-list-item>
      <app-todo-list-item></app-todo-list-item>
    </ul>
  </div>

</div>