* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    .main-content {
        padding: 0;
        margin: 0;
        min-height: 100%;
        max-height: 100000rem; // 1 000 000px
        position: relative;
        
        &__input-container {

            // background: #7D9875;
            padding: 1.5rem .7rem 0 .7rem;
            position: relative;
            z-index: 1000; 

            .input {
                padding: 1.3rem;
                background: #7D9875;
                border-radius: .4rem;

                input {
                    width: 98%;
                    border: none;
                    font-size: 2rem;
                    color: #B1CFC7;
                    background: transparent;

                    &:focus {
                        outline: none;
                        border:none;
                        caret-color: #FAFBFA;
                    }

                    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: #C7D4C7;
                        opacity: 1;
                        
                      }
                      
                      &::-ms-input-placeholder { /* Internet Explorer 10-11 */
                        color: #B1CFC7;
                      }
                      
                      &::-ms-input-placeholder { /* Microsoft Edge */
                        color: #B1CFC7;
                      }
                }
            }
        }

        .list {
            padding: .5rem .8rem;
        }
    }

    // overlay background
    .main-content::before {
        content: '';
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 102, 0, 0.2);
        z-index: 2;
    }

    .editInput {
        height:3rem;
        width: 100%;
        padding: 1rem 2rem;
        margin:1rem;
        border: 1px solid rgb(128, 127, 127);
    }


    ::-webkit-scrollbar {
        width: 18px !important;
        /* background: red; */
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #a6a6a6;
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    }
    
    ::-webkit-scrollbar-track {
        border-radius: 3px;
        background-color: transparent;
        // box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    }

 

   