.sidepanel {

    &__search {
        // position: fixed; // !!
        // width: 24rem;    // !!
        height: 5rem;
        background: #5B7A59;
        display: flex;
        align-items: center;
        color: #fff;
        justify-content: space-between;

        & > * {
            padding: 0 1rem;
        }

        // Menu button
        .menu-btn {
            cursor: pointer;
            padding-top:.6rem;

            &__btn-line {
                width: 2.2rem;
                height: .13rem;
                margin: 0 0 5px 0;
                background: #FAFBFA;
            }
        }

        .sidepanel-input {
            padding: 0;

            input {
                width: 98%;
                background: transparent;
                border: none;
                font-size: 2rem;

                &:focus {
                    outline: none;
                    border:none;
                    caret-color: #FAFBFA;
                }
            }
        }

        .magnifying-glass {
            font-size: 2rem;
            font-weight: 100;

            .search-magni {
                display: initial;
            }

            .search-cross {
                display: none;
            }

            &:hover {
                cursor: pointer;
            }

        }
    }

    // .sidepanel-categories {

    //     min-height: 100vh;
    //     display: flex;
    //     flex-direction: column;

    //     justify-content: space-between;

    //     .sidepanel-create-new {
    //         padding:.4rem;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         border-top: 1px solid rgb(60, 129, 233);

    //         a {
    //             text-decoration: none;
    //         }
    //     }

    // }
}