<div class="sidepanel">
    <div class="sidepanel__search">
        <div class="menu-btn" (click)="minifySidePanel()">
            <div class="menu-btn__btn-line"></div>
            <div class="menu-btn__btn-line"></div>
            <div class="menu-btn__btn-line"></div>
        </div>

        <form [formGroup]='searchForm' (ngSubmit)="onSubmit()">
            <div class="sidepanel-input">
                <input type="text" placeholder="" (focus)="focusSearch()" (focusout)=focusOutSearch() formControlName="searchInput">
            </div>
        </form>

        <div class="magnifying-glass">
            <i class="fa fa-search search-magni"></i>
            <i class="fa fa-times search-cross"></i>
        </div>
    </div>
</div>
<router-outlet name="ssoutlet"></router-outlet>
