<div class="sidepanel">
    <div class="sidepanel__search">
        <div class="menu-btn">
            <div class="menu-btn__btn-line"></div>
            <div class="menu-btn__btn-line"></div>
            <div class="menu-btn__btn-line"></div>
        </div>

        <div class="sidepanel-input">
            <input type="text" placeholder="">
        </div>

        <div class="magnifying-glass">
            <i class="fa fa-search search-magni"></i>
            <i class="fa fa-times search-cross"></i>
        </div>
    </div>
</div>
