
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: sans-serif;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    background-color: #97ADA0;
}

h2 {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
    /* background: red; */
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #a6a6a6;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F7F7F7;
    // box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

